@import '../../styles/_colors';

.Setlists {
  border: .5rem ridge #747474;
  background: #272727;
  transition: all 0.3s;
  box-shadow: 0 5px 5px $black;
  overflow: scroll;
  padding-top: 15px;
  height: 90vh;

   .new-button {
    margin-bottom: 20px;
  }

   .order-button {
    text-transform: initial;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h2 {
    color: #14A76C;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #14A76C;
}

.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  color: #14A76C;
}
}